<div class="container main-container">
    <div class="row" [ngSwitch]="hasError">
        <ng-container *ngSwitchCase="false">
            <a [routerLink]="['/details']" [queryParams]="{name: country.name}" *ngFor="let country of countries" class="col-6 col-sm-6 col-md-6 col-lg-3" style="padding-bottom: 30px;">
                <div class="card card-style card-size">
                    <img class="card-img-top" src="{{ country.flag }}" width="230px" height="160px">
                    <div class="card-body">
                        <h5 class="card-title ellipsis">{{ country.name }}</h5>
                        <p class="card-text ellipsis"><b>Capital: </b>{{ country.capital }}</p>
                        <p class="card-text"><b>Região: </b>{{ country.region }}</p>
                        <p class="card-text dis-none"><b>População: </b>{{ country.population | number }}</p>
                    </div>
                </div>
            </a>
        </ng-container>
        <div class="col-12" *ngSwitchCase="true">
            <div class="alert alert-warning">Nenhum país encontrado!</div>
        </div>
    </div>
</div>
