<style scoped>
    p {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    h5 {
        font-weight: bold;
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    @media (max-width: 575px) {
        .card-size {
            width: 200px;
        }

        .card-size img {
            width: 200px;
            height: 130px;
        }

        .dis-none {
            display: none;
        }
    }

    @media (min-width: 576px) {
        .card-size {
            width: 260px;
        }
    }

    .card-style {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 8px 10px;
        transition: 0.2s linear;
        margin: 0 auto;
    }

    .card:hover {
        cursor: pointer;
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 12px 15px;
    }
</style>

<div class="container main-container">
    <div class="row" [ngSwitch]="hasError">
        <ng-container *ngSwitchCase="false">
            <div *ngFor="let country of countries" class="col-6 col-sm-6 col-md-6 col-lg-3"
                style="padding-bottom: 30px;">
                <div class="card card-style card-size">
                    <img class="card-img-top" src="{{ country.flag }}" width="230px" height="160px">
                    <div class="card-body">
                        <h5 class="card-title ellipsis">{{ country.name }}</h5>
                        <p class="card-text ellipsis"><b>Capital: </b>{{ country.capital }}</p>
                        <p class="card-text dis-none"><b>Região: </b>{{ country.region }}</p>
                        <p class="card-text dis-none"><b>População: </b>{{ country.population | number }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="col-12" *ngSwitchCase="true">
            <div class="alert alert-warning">Nenhum país encontrado!</div>
        </div>
    </div>
</div>