<style scoped>
    form div div{
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<div class="container main-container">
    <form (submit)="postEmail()">
        <div class="row">
            <div class="col-12">
                <!-- <label class="">Para: </label> -->
                <input [(ngModel)]="para" name="para" type="text" class="form-control" placeholder="Para">
            </div>
            <div class="col-12">
                <!-- <label class="">Assunto: </label> -->
                <input [(ngModel)]="assunto" name="assunto" type="text" class="form-control" placeholder="Assunto">
            </div>
            <div class="col-12">
                <!-- <label class="">Corpo: </label> -->
                <textarea [(ngModel)]="corpo" name="corpo" type="text" class="form-control" style="height: 150px;" placeholder="Corpo"></textarea>
            </div>
            <div class="" style="margin: 0 auto;">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>