<div class="container main-container">
    <form>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-7">
                <input type="text" class="form-control" placeholder="Busque por nome">
            </div>
            <div class="col-10 col-sm-4 col-md-4 col-lg-4 mg-top">
                <select class="form-control">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 d-flex justify-content-end mg-top">
                <button class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<style scoped>
    @media (max-width: 575px) {
        .mg-top {
            margin-top: 10px;
        }
    }
</style>