<style>
    .country-image {
        width: 100%;
        max-width: 500px;
        border: 1px solid #d3d3d373;
        transition: 2s linear;
    }

    .badge-style {
        padding: 5px;
        margin: 2px;
        font-size: 14px;
    }

    h4 {
        margin-bottom: 30px;
    }

    @media (max-width: 990px)
    {
        .details{
            margin-top: 20px;
        }
    }
</style>

<div class="container main-container">
    <div class="row">

        <div class="col-12" style="margin-bottom: 20px;">
            <a [routerLink]="['/main']" class="btn btn-light">Back</a>
        </div>

        <div class="col-lg-6">
            <img src="{{ country.flag }}" class="country-image">
        </div>

        <div class="col-lg-6 details">
            <h4>{{ country.name }}</h4>

            <div>
                <p> <b>Capital:</b> {{ country.capital }}</p>
                <p> <b>Region:</b> {{ country.region }}</p>
                <p> <b>Sub Region: </b>{{ country.subregion }}</p>
                <p> <b>Population:</b> {{ country.population | number }}</p>
            </div>

            <div *ngIf="country.borders.length > 0">
                <b>Border Coutries: </b>
                <div class="badge badge-info badge-style" *ngFor="let border of country.borders">
                    {{border}}
                </div>
            </div>

            <div *ngIf="country.borders.length == 0">
                <p> <b>Border Coutries: </b> This country is an island 🏝️</p>
            </div>
        </div>
    </div>
</div>

<hr>